body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #222;
}

header {
  background: #2c2f6c;
  color: white;
  padding: 15px 30px;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

footer {
  background: #2c2f6c;
  color: white;
  text-align: center;
  padding: 15px;
}
.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.gallery img {
  width: 280px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.activity-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
/* Fade-in Animation */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}


.card:hover {
  transform: translateY(-5px);
}
#lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}
